body {
    font-family: "Changa", sans-serif;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #FFE500;
}

@media (min-width: 592px) {
    .nav-header .logo {
        margin-left: 40px;
    }
}



.menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
}

.menu-nav a {
    padding-left: 100px;
    text-decoration: none;
    color: black;
}

.menu-nav a:hover {
    color: blue;
    text-decoration: underline;
    transition: .3s;
    cursor: pointer;
}

.boton-usuario {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el contenido */
    margin-right: 40px;
}

.boton-usuario a {
    margin-right: 30px;
    /* Ajusta el valor según el espacio que necesites */
}

/* Estilo para pantallas grandes (desktop) */
@media (min-width: 992px) {
    .nav-header {
        flex-direction: row;
    }

    .menu-nav a {
        padding-left: 100px;
    }

    .boton-usuario a {
        margin-right: 30px;
    }
}

/* Estilo para tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .nav-header {
        flex-direction: row;
    }

    .menu-nav a {
        padding-left: 50px;
    }

    .boton-usuario a {
        margin-right: 20px;
    }
}

/* Estilo para móviles */
@media (max-width: 767px) {
    .nav-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo img {
        width: 80%;
    }

    .menu-nav {
        flex-direction: column;
        margin: 0;
    }

    .menu-nav a {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .boton-usuario {
        flex-direction: column;
        margin: 20px 0;
    }

    .boton-usuario a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

footer {
    background-color: black;
    color: white;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.nav-footer a {
    text-decoration: none;
    color: white;
    margin-right: 30px;

}

.nav-footer a:hover {
    color: blue;
    text-decoration: underline;
    transition: 0.8s;

}

a {
    text-decoration: none;
    color: black;
}

