.contenedor_formulario{
    display: flex;
    justify-content: center;

}

.service-form {
    background-color: #fff;
    padding: 110px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1100px;
    width: 13000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

.service-form img {
    width: 100%;
    border-radius: 10px;
}

.service-form form {
    display: flex;
    flex-direction: column;
}

.service-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.service-form input,
.service-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.service-form button {
    padding: 10px;
    width: 150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: black;
    color: white;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: black;
}