.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info h2 {
    margin: 0 0 10px 0;
}

.rating {
    display: flex;
}

.rating .star {
    font-size: 24px;
    color: #ffd700;
}

.services {
    grid-column: span 2;
}

.services h3 {
    margin-top: 0;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.services ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #000;
}

.rating {
    direction: rtl;
    display: inline-block;
}

.rating > input {
    display: none;
}

.rating > label {
    display: inline-block;
    cursor: pointer;
    width: 50px; /* Aumenta el tamaño de las estrellas */
    height: 50px; /* Aumenta el tamaño de las estrellas */
    background: url('/img/estrella-amarrila.png') no-repeat center;
    background-size: contain;
}

