.buscadores{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.buscadores input{
    width: 45%;
}

.buscadores select{
    width: 15%;
}


    .servicios{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

.servicios .card{
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 15px;
    margin-bottom: 50px;
}