@media (min-width:540px){
    .columnas-info{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}


.columnas-info .info{
    margin-left: 40px;
    margin-right: 40px;
}

.columnas-info{
    padding-bottom: 170px;
}